
  <div>
      <h2>lingotwist ...</h2>
      </h3>Enter 5 random things e.g table, mushroom, surfboard, zimmer-frame, squirrel</h3>

       <form class="word-things" action="/??????"
        accept-charset="UTF-8" method="POST">
       <input type='text' name='First Word'>
       <input type='text' name='Second Word'>
       <input type='text' name='Third Word'>
       <input type='text' name='Fourth Word'>
       <input type='text' name='Fifth Word'>
       </form>

 </div>
