
  <div>
      <h2>lingotwist Harry Pottter and the Philosopher's Stone</h2>
      <h3>Enter 5 random things e.g<span>table, mushroom, surfboard, zimmer-frame, squirrel </span></h3>

       <form class="word-things" action="/index"
        accept-charset="UTF-8" method="POST">
      <ul>

       <li><input type='text' name='First Word'></li>
       <li><input type='text' name='Second Word'></li>
       <li><input type='text' name='Third Word'></li>
       <li><input type='text' name='Fourth Word'></li>
       <li><input type='text' name='Fifth Word'></li>
       <li><input type='text' name='Sixth Word'></li>
       <li><input type='submit' name='submit' value='lingotwist!'></li>
       </ul>
       </form>

 </div>
